* {
	margin: 0;
	padding: 0;
        box-sizing: border-box;
}
html {
	background-size: cover;
}


body {
	display: grid;
	
	justify-content: center;
	justify-items: center;
	
	align-content: space-between;
	text-align: center;
	height: 100vh;
	color:  white;
	font-family: 'Josefin Sans', sans-serif;
font-family: 'Russo One', sans-serif;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
}

.weather-container {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: center;
}

.current {
	display: flex;

}

.current .temp {
	font-size: 1.5em;
	margin-right: 15px;
}

.location h3 {
	font-size: 0.7em;
}



#time {
	font-size: 10rem;
	font-weight: 760;
}





h1 {
	
	opacity: 1;

}

h2,h3 {
	
	opacity: 1;
}

.greeting-container {
	
	align-self: start;
}

.greeting-container h1 {
	font-size: 3em;
	margin-bottom: 1.5rem;
	opacity: 1;
}

.greeting-container div {
	padding-bottom: 40px;
}

.greeting-container h2 {
	margin-bottom: 0.5rem;
	opacity: 1;
	font-size: 1.7em;
}

.weather-container input {
	width: 100%;
	padding: 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;

	border: none;
   outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.3) ;
    color: white;

}

.weather-container input:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

.weather-container input::placeholder {
	color: white;
	opacity: 0.8;
}

.weather-container .location {
	margin-bottom: 15px;
}

.note {
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 10px;
   padding: 3px;
   
}
 i {
 	font-size: 3em;
 }


@media screen and (max-width: 700px){
	.container{
		width: 99%;
	}
	#time {
		
		font-size: 5rem;
	}
	.greeting-container h1 {
	font-size: 2em;
    }
	.greeting-container h2 {
	font-size: 1.5em;
}
	
}
